* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: #141414;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__container img {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 auto;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 32px;
}

.fa-db {
  margin-right: 8px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;

}

.navbar__links {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 16px;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}

.button:hover {
  background: #4837ff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.4s ease;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu.active  {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.4s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 32px;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 32px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HERO */
.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content  h1 {
  font-size: 64px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 64px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.main__btn {
  font-size: 16px;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 32px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  text-decoration: none;
  position: relative;
  z-index: 2;
  color: #fff;
}

.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 64px;
  }

  .main__content h1 {
    font-size: 40px;
    margin-top: 32px;
  }

  .main__content h2 {
    font-size: 48px;
  }
  
  .main__content p {
    margin-top: 16px;
    font-size: 24px;
  }
}

  @media screen and (max-width: 480px) {
    .main__content h1 {
      font-size: 32px;
      margin-top: 48px;
    }
  
    .main__content h2 {
      font-size: 32px;
    }
    
    .main__content p {
      margin-top: 32px;
      font-size: 24px;
    }

    .main__btn {
      padding: 12px 36px;
      margin: 24px 0;
    }
  }

  /* ABOUT */
  .about {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .about p1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 95vw;
  }

  .about h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right,
     #ff8177 0%, 
     #ff867a 0%,
     #ff8c7f 21%, 
     #f99185 52%, 
     #cf556c 78%,
     #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 80px;
    font-size: 40px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .about__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .about__card {
    margin: 0px;
    height: 100vh;
    width: 87vw;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17,17,17,0.6) 100%),
    url(https://i.postimg.cc/3RFPSVLM/HFM-banner.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    margin-bottom: -100vh;
  }

  .about h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }

  .about__card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }

  .about__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 16px;
    cursor: pointer;
  }

  .about__card:hover {
    transform: scale(1.025);
    transition: 0.25s ease-in;
    transition: 0.25s ease-out;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) {
    .about {
      height: 1600px;
    }

    .about h1 {
      font-size: 45px;
      margin-top: 192px;
    }

    .about p1 {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 480px) {
    .about {
      height: 1400px;
    }

    .about h1 {
      font-size: 32px;
    }

    .about__card {
      width: 300px;
      position: relative;
    }
  }


  /* GOAL */
  .goal {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .goal__container {
    background: #141414;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 600px;
  }

  .goal__card {
    background: #141414;
    margin: 16px;
    height: 100vh;
    width: 87vw;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17,17,17,0.6) 100%),
    url(https://i.postimg.cc/gcQFNxPd/workout.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    overflow: hidden;
  }

  .goal h3 {
    background-color: #ff8177;
    background-image: linear-gradient(to right,
     #ff8177 0%, 
     #ff867a 0%,
     #ff8c7f 21%, 
     #f99185 52%, 
     #cf556c 78%,
     #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 80px;
    font-size: 40px;
    position: relative;
    top: 620px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .goal h2 {
    position: absolute;
    top: 250px;
    left: 80px;
  }

  .goal p {
    column-count: 2;
    column-gap: 20px;
    margin-top: 650px;
    color: #fff;
    font-size: 22px;
    text-align: left;
    width: 95vw;
  }

  @media screen and (max-width: 960px) {
    .goal {
      height: 1600px;
    }

    .goal h3 {
      font-size: 32px;
      margin-top: 192px;
    }

    .goal p {
      column-count: 2;
      column-gap: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .goal {
      height: 1400px;
    }

    .goal h2 {
      font-size: 19.2px;
    }

    .goal__card {
      width: 300px;
    }

    .goal p {
      column-count: 2;
      column-gap: 20px;
    }
  }

.fill {
  background-color: #141414;
}
  
  

  /* FOOTER */
  .footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1500px;
  }

  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
  }

  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }

  .footer__link--wrapper {
    display: flex;
  }



  /* SOCIAL ICONS */
  .social__icons--links {
    color: #fff;
    font-size: 24px;
  }

  .social__media {
    max-width: 1000px;
    width: 100%;
  }

  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }

  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  .footer__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .website__right {
    color: #fff;
  }

  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 32px;
    }

    #footer__logo {
      margin-bottom: 32px;
    }

    .website__right {
      margin-bottom: 32px;
    }

    .footer__link--wrapper {
      flex-direction: column;
    }

    .social__media--wrap {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }
  


